@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.border-glow {
  border: 0.5px solid transparent; /* Borde transparente inicial */
  box-shadow: 0 0 10px #0b9b8a; /* Brillo verde */
  transition: box-shadow 0.3s ease; /* Transición suave */
}
.border-glow:hover {
  box-shadow: 0 0 20px #67ddab; /* Brillo más intenso al pasar el cursor */
}

#root {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.card {
  border: 2px solid;
  box-shadow: 0 0 0 10px;
  border-radius: 10px;
}

.layout_contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(600px, 200px), 1fr));
  grid-template-rows: row dense;
  grid-auto-flow: dense;
  justify-items: center;
  background-color: rgb(0, 0, 0);
}

.red {
  height: 300px;
}
.img_corousel {
  min-width: 800px;
  min-height: 320px;
}
