@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.border-glow {
  border: 0.5px solid transparent; /* Borde transparente inicial */
  box-shadow: 0 0 10px #0b9b8a; /* Brillo verde */
  transition: box-shadow 0.3s ease; /* Transición suave */
}
.border-glow:hover {
  box-shadow: 0 0 20px #67ddab; /* Brillo más intenso al pasar el cursor */
}

body {
  background-color: black;
}

#root {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/* Apartado de inicio */

.logo {
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 3px white;
}

.card {
  border: 2px solid;
  box-shadow: 0 0 0 10px;
  border-radius: 10px;
}

.layout_contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(600px, 200px), 1fr));
  grid-template-rows: row dense;
  grid-auto-flow: dense;
  justify-items: center;
  background: linear-gradient(135deg, #1e90ff, #6a5acd, #8a2be2, #4b0082);
  min-height: 80vh;
}

.footer_elements {
  display: grid;
  min-height: 6vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "footer1 footer1 footer1 footer1" "footer2 footer2 footer2 footer2";
  justify-items: center;
  justify-content: center;
}

.footer_element_1 {
  grid-area: footer1;
}

.footer_element_2 {
  grid-area: footer2;
}

/* Apartado de comunidad */

.comunidad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "comunidad_element comunidad_element2 comunidad_element3";
  grid-template-rows: auto;
  grid-auto-flow: dense;
  justify-items: center;
  justify-content: center;
  gap: 1rem;
}

.comunidad_element {
  grid-area: comunidad_element;
}

.comunidad_element2 {
  grid-area: comunidad_element2;
}

.comunidad_element3 {
  width: 100%;
  grid-area: comunidad_element3;
}

/* Emisiones */
.emisiones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "section_1 section_1 section_2 section_2";
  grid-template-rows: auto;
  grid-auto-flow: dense;
  justify-items: center;
  justify-content: center;
  gap: 1rem;
}

.section_1 {
  grid-area: section_1;
}

.section_2 {
  grid-area: section_2;
}

/*avisos */
.articulo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "articulo_media articulo_aviso articulo_aviso";
  grid-template-rows: auto;
  grid-auto-flow: dense;
  justify-items: center;
  justify-content: center;
  gap: 1rem;
}

.articulo_media {
  grid-area: articulo_media;
}

.articulo_aviso {
  grid-area: articulo_aviso;
}

.comados_predefinidos {
  grid-area: comados_predefinidos;
}

/*tutoriales */
.tutoriales {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "tutorial_card tutorial_card1 comados_predefinidos" "tutorial_media tutorial_media comados_predefinidos";
  grid-template-rows: auto;
  grid-auto-flow: dense;
  justify-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0;
}

.tutorial_comandos {
  grid-area: tutorial_comandos;
}

.tutorial_comandos1 {
  grid-area: tutorial_comandos1;
}

.tutorial_card {
  grid-area: tutorial_card;
}

.tutorial_card1 {
  grid-area: tutorial_card1;
}

.tutorial_media {
  grid-area: tutorial_media;
}

@media (max-width: 1500px) {
  .comunidad {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "comunidad_element comunidad_element2"
      "comunidad_element3 comunidad_element3";
  }

  .tutoriales {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "tutorial_card tutorial_card1" "tutorial_media comados_predefinidos";
  }

  .emisiones {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "section_1 section_1" "section_2 section_2";
  }

  .articulo {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "articulo_media articulo_media" "articulo_aviso articulo_aviso";
  }

  .articulo_video {
    display: none;
  }
}

@media (max-width: 760px) {
  .carousel {
    display: none;
  }
  .comunidad {
    grid-template-columns: 1fr;
    grid-template-areas:
      "comunidad_element2"
      "comunidad_element"
      "comunidad_element3";
  }

  .tutoriales {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "tutorial_card "
      "tutorial_card1 "
      "comados_predefinidos"
      "tutorial_media ";
    justify-content: center;
   
  }

  .size {
    width: auto;
    max-width: 340px;
  }
}
